/* Слайдер */ 
.slick-slider{}
/* Слайдер запущен */ 
.slick-slider.slick-initialized{}
/* Слайдер с точками */ 
.slick-slider.slick-dotted{}
/* Ограничивающая оболочка */ 
.slick-list {
}
/* Лента слайдов */ 
.slick-track{
}
/* Слайд */ 
.slick-slide{}
/* Слайд активный (показывается) */ 
.slick-slide.slick-active{}
/* Слайд основной */ 
.slick-slide.slick-current{}
/* Слайд по центру */ 
.slick-slide.slick-center{}
/* Клонированный слайд */ 
.slick-slide.slick-cloned{}
/* Стрелка */ 
.slick-arrow{}
/* Стрелка влево */ 
.slick-arrow.slick-prev{}
/* Стрелка вправо */ 
.slick-arrow.slick-next{}
/* Стрелка не активная */ 
.slick-arrow.slick-disabled{}
/* Точки (булиты) */ 
.slick-dots{

} 
.slick-dots li{

}
/* Активная точка */ 
.slick-dots li.slick-active{

}
/* Элемент точки */ 
.slick-dots li button{

} 

.slider{

	.slick-list {
		overflow: hidden;
	}

	.slick-track{
		display: flex;
	}
}
.slider-dots{
	
	.slick-dots{
		display: flex;
		align-items: center;
		position: absolute;
		bottom::20px;
		left: 50%;
		transform:translateX(-50%);
	} 
	.slick-dots li{
		margin: 0px 3px;
	}

	.slick-dots li button{
		font-size: 0;
		width: 6px;
		height: 6px;
		background-color: #fff;
		border: 1px solid $dark-text;
		padding: 0;

	} 
	.slick-dots li.slick-active button{
		width: 10px;
		height: 10px;
	}
}
.slider-arrows{
	display: none;
	.slick-arrow{
		font-size: 0;
		border:none;
		background-color: transparent;
		position: absolute;
		top: 0;
		bottom: 0;
		z-index: 1;
		width: 160px;
		img{
			top: 50%;
			width: 80px;
			height: 80px;
		}
	}

	.slick-arrow.slick-prev{
		left: 0px;
		img{
			margin-left: 40px;
		}
	}

	.slick-arrow.slick-next{
		right: 0px;
		img{
			margin-right: 40px;
		}
	}
}

//comments

.comments__inner{

	.slick-list {
		overflow: hidden;
	}

	.slick-track{
		display: flex;
		height: 300px;
		align-items: center;
		position: relative;
		z-index: 1;
	}
	.slick-slide{
		margin: 0 15px;
	}
	.slick-dots{
		margin-top: 10px;
		display: flex;
		align-items: center;
		justify-content: center;

	} 
	.slick-dots li{
		margin: 0 10px;
	}

	.slick-dots li button{
		font-size: 0;
		width: 10px;
		height: 3px;
		border:none;
		background-color: #ccc;
	} 
	.slick-dots li.slick-active button{
		background-color: $dark-text;
	}

	.slick-arrow{
		position: absolute;
		bottom: 0;
		font-size: 0;
		border:none;
		background-color: transparent;
		background-image: url(../img/icon-comments/arrow.svg);
		width: 50px;
		height: 50px;
		margin-top: 10px;
	}
	.slick-arrow.slick-prev{
		left: 15px;

		transform:scale(-1);
	}
	.slick-arrow.slick-next{
		right: 15px;
	}

	.slick-arrow.slick-disabled{
		background-image: url(../img/icon-comments/arrow-disable.svg);
	}
}