$dark-text:#000;
$white-text: #fff;
$blue:#277de2;

@mixin SF{
	font-family: 'SF Pro Display', sans-serif;
}

@mixin after{
	content: '';
	position: absolute;
	z-index: -1;
	top: 50%;
	left: 50%;
	width: 120%;
	height: 120%;
	transform: translate(-50%,-50%);
}