@charset "UTF-8";
html {
  box-sizing: border-box;
  font-size: 1rem;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: 'SF Pro Display', sans-serif;
  color: #000;
  font-weight: 400;
  font-size: 16px;
}

a {
  text-decoration: none;
  display: inline-block;
  color: #000;
}

ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

img {
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
  max-width: 100%;
  max-height: 100%;
}

button {
  cursor: pointer;
}

button:focus {
  outline: none;
}

.bg-white {
  background-color: #fff !important;
}

.bg-dark {
  background-color: #5f5f5f !important;
}

.btn {
  display: inline-block;
  max-width: 100%;
  padding: .5rem;
  font-weight: 700;
  line-height: 1.25;
  text-align: center;
  white-space: nowrap;
  border: none;
  border-radius: 0;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  transition: all .35s;
  font-size: 1.25rem;
  z-index: 2;
}

.btn-main {
  background: #277ce2 linear-gradient(180deg, #277ce2 0%, #180eb8 100%) 100% no-repeat;
  color: #fff;
  position: relative;
}

.btn-main:hover {
  background-image: none;
}

.btn-main::before, .btn-main::after {
  content: '';
  position: absolute;
  pointer-events: none;
  width: calc(100% + 4px);
  height: calc(100% + 3px);
}

.btn-main::before {
  left: 0;
  bottom: 0;
  background: url(../img/slider-banner/svg/fragments/btn/btn-1.svg) right top/auto 3px no-repeat, url(../img/slider-banner/svg/fragments/btn/btn-2.svg) right top/5px auto no-repeat;
}

.btn-main::after {
  top: 0;
  right: 0;
  background: url(../img/slider-banner/svg/fragments/btn/btn-3.svg) left bottom/auto 3px no-repeat, url(../img/slider-banner/svg/fragments/btn/btn-4.svg) left top/5px auto no-repeat;
}

.icon-svg {
  display: inline-block;
  width: 1em;
  height: 1em;
  vertical-align: initial;
}

@font-face {
  font-family: 'SF Pro Display';
  src: url("../fonts/SFProDisplay-Bold.eot");
  src: local("SF Pro Display Bold"), local("SFProDisplay-Bold"), url("../fonts/SFProDisplay-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/SFProDisplay-Bold.woff2") format("woff2"), url("../fonts/SFProDisplay-Bold.woff") format("woff"), url("../fonts/SFProDisplay-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'SF Pro Display';
  src: url("../fonts/SFProDisplay-Regular.eot");
  src: local("SF Pro Display Regular"), local("SFProDisplay-Regular"), url("../fonts/SFProDisplay-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/SFProDisplay-Regular.woff2") format("woff2"), url("../fonts/SFProDisplay-Regular.woff") format("woff"), url("../fonts/SFProDisplay-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

header {
  padding-top: 20px;
  box-shadow: 0px 0px 13px 0px rgba(0, 0, 0, 0.1);
  position: relative;
  z-index: 3;
}

.header-top-logo {
  max-width: 160px;
}

.header-top-menu-list {
  display: flex;
  justify-content: space-between;
  font-size: 16px;
}

.header-top-menu-link::after {
  content: '';
  transition: all .2s;
  display: block;
  width: 100%;
  background-color: #000;
  height: 1px;
  transform: translateY(1px) scale(0);
}

.header-top-menu-link:hover::after {
  transform: translateY(1px) scale(1);
}

.header-top-location-list {
  display: flex;
  justify-content: space-between;
}

.header-top-location-item {
  position: relative;
  padding-left: 20px;
  font-size: 14px;
}

.header-top-location-item + .header-top-location-item {
  margin-top: 10px;
}

.header-top-location-item::before {
  content: '';
  position: absolute;
  left: 0;
  background-image: url(../img/map-marker.svg);
  width: 15px;
  height: 18px;
}

.header-top-location-link::after {
  content: '';
  transition: all .2s;
  display: block;
  width: 100%;
  background-color: #000;
  height: 1px;
  transform: translateY(1px) scale(0);
}

.header-top-location-link:hover::after {
  transform: translateY(1px) scale(1);
}

.header-top-phone {
  font-size: 18px;
}

.header-top-phone-link {
  margin-bottom: 10px;
}

.header-top-phone-link span {
  font-weight: 700;
}

.header-main {
  margin-top: 20px;
  background-color: #fff;
  height: 80px;
  display: flex;
  align-items: center;
}

.header-main-menu {
  max-height: 100%;
}

.header-main-list {
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-main-item {
  padding-left: 20px;
  padding-right: 20px;
}

.header-main-link {
  display: flex;
  align-items: center;
  padding: 13px 0;
  position: relative;
}

.header-main-link::after {
  content: '';
  position: absolute;
  width: 100%;
  background-color: #000;
  height: 2px;
  bottom: 2px;
  transform: translateY(2px) scale(0);
  transition: all .2s;
}

.header-main-link:hover::after, .header-main-link.active::after {
  transform: translateY(2px) scale(1);
}

.header-main-icon {
  background-repeat: no-repeat;
  width: 48px;
  height: 48px;
  display: block;
  margin: 0 15px 0 0;
}

.header-main-text {
  color: #000;
}

.header-main-text div {
  font-size: 18px;
  margin-bottom: 10px;
}

.header-main-text strong {
  font-size: 18px;
}

.megamenu-item {
  padding: 20px 0;
  display: none;
  transition: all .2s;
  position: absolute;
  z-index: 999;
  top: 100%;
  right: 0;
  left: 0;
  background-color: #fff;
  box-shadow: 0px 10px 13px -13px rgba(0, 0, 0, 0.1);
}

.megamenu-item__inner {
  flex-wrap: wrap;
}

.megamenu-item__link {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-basis: 10%;
  transition: all .2s;
  padding: 3px;
  height: 110px;
  margin: 20px 0;
}

.megamenu-item__link:hover {
  color: #277de2;
}

.megamenu-item__img {
  width: 100%;
  height: 65px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.megamenu-item__img img {
  width: 40px;
}

.megamenu-item__title {
  margin-top: 7px;
  font-size: 13px;
  text-align: center;
  font-weight: 400;
  letter-spacing: 1px;
}

.slider {
  overflow: hidden;
  position: relative;
}

.slider__inner {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.slider .slider-item {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.slider .slider-banner-category-1 {
  position: relative;
}

.slider .slider-banner-category-1::before, .slider .slider-banner-category-1::after {
  content: '';
  position: absolute;
  background: linear-gradient(180deg, #e7505f 0, #8e1e23 100%);
  top: 50%;
  width: 100%;
  height: 100%;
  box-shadow: 0 0 2.25rem rgba(0, 0, 0, 0.25);
  transform: translateY(-50%) skew(-15deg);
}

.slider .slider-banner-category-1::before {
  right: 95%;
}

.slider .slider-banner-category-1::after {
  left: 95%;
}

.slider .slider-banner__inner {
  position: relative;
  min-height: 350px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  letter-spacing: 1px;
  font-weight: 700;
  line-height: 1.5;
  padding: 1.25rem 0;
  justify-content: center;
}

.slider .slider-banner__inner::after {
  content: '';
  position: absolute;
  background-color: #fff;
  top: 50%;
  left: 50%;
  width: 130%;
  height: 100%;
  box-shadow: 0 0 2.25rem rgba(0, 0, 0, 0.25);
  transform: translate(-50%, -50%) skew(15deg);
}

.slider .text-category-1 {
  color: #e7505f;
  fill: #e7505f;
  font-size: 1.5rem;
  position: relative;
  z-index: 1;
}

.slider .text-service-category-1 {
  font-size: 1.25rem;
  position: relative;
  z-index: 1;
  background-position: 0 0;
}

.slider .text-service-category-1::after {
  content: '';
  position: absolute;
  z-index: -1;
  top: 50%;
  left: 50%;
  width: 120%;
  height: 50px;
  transform: translate(-50%, -50%);
  background: url(../img/slider-banner/svg/fragments/text-bg/bg-text-service-6.svg) center/100% no-repeat;
}

.slider .text-repair-category-1 {
  color: #fff;
  font-size: 1.5rem;
  position: relative;
  z-index: 1;
  background-position: 0 0;
}

.slider .text-repair-category-1::after {
  content: '';
  position: absolute;
  z-index: -1;
  top: 50%;
  left: 50%;
  width: 120%;
  height: 120%;
  transform: translate(-50%, -50%);
  background: url(../img/slider-banner/svg/fragments/text-bg/bg-text-service-7.svg) center/100% no-repeat;
}

.slider .slider-list {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.slider .slider-banner-scene__item {
  width: 100%;
  height: 100%;
  pointer-events: none !important;
}

.slider .slider-banner-scebe__img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -o-object-fit: none;
     object-fit: none;
  max-width: none;
  max-height: none;
}

.slider .slider-banner-2__inner {
  position: relative;
  min-height: 350px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  letter-spacing: 1px;
  font-weight: 700;
  line-height: 1.5;
  padding: 1.25rem 0;
  justify-content: center;
}

.slider .slider-banner-2__inner .quarantine-title {
  position: relative;
  padding: .5rem 1.5rem;
  color: #e7505f;
  background-color: #fff;
  font-size: 1.75rem;
  line-height: 1.5;
  z-index: 1;
}

.slider .slider-banner-2__inner .delivery-text {
  position: relative;
  background: 0 0;
  font-size: 1.25rem;
  line-height: 1.5;
  color: #fff;
  font-weight: 400;
  z-index: 1;
}

.slider .slider-banner-2__inner .delivery-text::after {
  content: '';
  position: absolute;
  background: url(../img/slider-banner/svg/fragments/text-bg/bg-text-service-4.svg) center/100% no-repeat;
  z-index: -1;
  top: 50%;
  left: 50%;
  width: 120%;
  height: 120%;
  transform: translate(-50%, -50%);
}

.slider .slider-banner-2__inner .ziplock-text {
  color: #000;
  position: relative;
  background: 0 0;
  z-index: 1;
  font-weight: 400;
}

.slider .slider-banner-2__inner .ziplock-text::after {
  content: '';
  position: absolute;
  background: url(../img/slider-banner/svg/fragments/text-bg/bg-text-service-5.svg) center/100% no-repeat;
  z-index: -1;
  top: 50%;
  left: 50%;
  width: 120%;
  height: 120%;
  transform: translate(-50%, -50%);
}

.slider .slider-banner-2__inner .ziplock-text .text-truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.slider .slider-banner-2__inner .link-more {
  position: relative;
  color: #fff;
  text-decoration: underline;
  font-weight: 700;
  z-index: 1;
}

.slider .slider-banner-3__inner::after {
  background-color: #5f5f5f;
}

.slider .slider-banner-3__inner .slider-banner-3__icon {
  font-size: 3rem;
  fill: #e7505f;
}

.slider .slider-banner-3__inner .text-battery {
  font-weight: 700;
  position: relative;
  background: 0 0;
  line-height: 1.5;
  font-size: 1.75rem;
}

.slider .slider-banner-3__inner .text-battery::after {
  position: absolute;
  content: '';
  z-index: -1;
  top: 50%;
  left: 50%;
  width: 120%;
  height: 120%;
  transform: translate(-50%, -50%);
  background: url(../img/slider-banner/svg/fragments/text-bg/bg-text-service-3.svg) center/100% no-repeat;
}

.slider .slider-banner-3__inner .text-discount {
  position: relative;
  z-index: 1;
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 1.5;
}

.slider .slider-banner-3__inner .text-percent {
  position: relative;
}

.slider .slider-banner-3__inner .text-percent::after {
  position: absolute;
  content: '';
  z-index: -1;
  top: 50%;
  left: 50%;
  width: 120%;
  height: 120%;
  transform: translate(-50%, -50%);
  background: url(../img/slider-banner/svg/fragments/text-bg/bg-num-category-1.svg) center/100% no-repeat;
}

.slider .slider-banner-3__inner .text-origin {
  position: relative;
  z-index: 1;
  font-weight: 500;
  font-size: 1.25rem;
  line-height: 1.5;
}

.slider .slider-banner-3__inner .text-guarantee {
  position: relative;
  z-index: 1;
  font-size: 1.75rem;
  font-weight: 700;
  line-height: 1.5;
}

.slider .slider-banner-3__inner .text-guarantee .text-year {
  position: relative;
  color: #000;
  font-weight: 700;
}

.slider .slider-banner-3__inner .text-guarantee .text-year::after {
  position: absolute;
  content: '';
  z-index: -1;
  top: 50%;
  left: 50%;
  width: 120%;
  height: 120%;
  transform: translate(-50%, -50%);
  background: url(../img/slider-banner/svg/fragments/text-bg/bg-text-year.svg) center/100% no-repeat;
}

.slider .slider-banner-category-2.reverse {
  position: relative;
}

.slider .slider-banner-category-2.reverse::before, .slider .slider-banner-category-2.reverse::after {
  content: '';
  position: absolute;
  top: 50%;
  width: 100%;
  height: 100%;
  background: #5f5f5f;
  box-shadow: 0 0 2.25rem rgba(0, 0, 0, 0.25);
  transform: translateY(-50%) skew(-15deg);
  background: linear-gradient(180deg, #a7429c 0, #5f357d 100%);
}

.slider .slider-banner-category-2.reverse::before {
  right: 95%;
}

.slider .slider-banner-category-2.reverse::after {
  z-index: -1;
  left: 95%;
}

.slider .slider-banner-category-2.reverse .slider-banner-4__inner {
  position: relative;
  z-index: -1;
  background: url(../img/slider-banner/banner-info-img-2.jpg) center/cover no-repeat;
}

.slider .slider-banner-category-2.reverse .slider-banner__inner::after {
  transform: translate(-50%, -50%) skew(-15deg);
}

.slider .slider-banner-category-2.reverse .text-cleaning {
  position: relative;
  z-index: 1;
  color: #a7429c;
  fill: #a7429c;
}

.slider .slider-banner-category-2.reverse .text-cleaning .slider-banner-4__icon {
  font-size: 3rem;
}

.slider .slider-banner-category-2.reverse .text-cleaning-title {
  font-weight: 700;
  font-size: 1.75em;
  line-height: 1.5;
}

.slider .slider-banner-category-2.reverse .banner-4-text-discount {
  position: relative;
  z-index: 1;
  font-size: 1.75rem;
  line-height: 1.5;
  color: #000;
  font-weight: 700;
}

.slider .slider-banner-category-2.reverse .banner-4-text-percent {
  color: #fff;
  position: relative;
  z-index: 1;
}

.slider .slider-banner-category-2.reverse .banner-4-text-percent::after {
  content: '';
  position: absolute;
  z-index: -1;
  top: 50%;
  left: 50%;
  width: 120%;
  height: 120%;
  transform: translate(-50%, -50%);
  background: url(../img/slider-banner/svg/fragments/text-bg/bg-num-category-2.svg) center/100% no-repeat;
}

.slider .slider-banner-5__inner .slider-banner-5__icon {
  font-size: 3rem;
}

.slider .slider-banner-5__inner .text-glass {
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 1.5;
}

.slider .slider-banner-5__inner .text-gift {
  position: relative;
  z-index: 1;
  color: #fff;
  font-weight: 700;
  font-size: 1.25rem;
  line-height: 1.5;
}

.slider .slider-banner-5__inner .text-gift::after {
  position: absolute;
  content: '';
  z-index: -1;
  top: 50%;
  left: 50%;
  width: 120%;
  height: 120%;
  transform: translate(-50%, -50%);
  background: url(../img/slider-banner/svg/fragments/text-bg/bg-text-gift.svg) center/100% no-repeat;
}

.slider .slider-banner-5__inner .text-dinamic {
  position: relative;
  z-index: 1;
  color: #000;
  font-weight: 700;
  line-height: 1.5;
  background: 0 0;
}

.slider .slider-banner-5__inner .text-dinamic::before, .slider .slider-banner-5__inner .text-dinamic::after {
  position: absolute;
  content: '';
}

.slider .slider-banner-5__inner .text-dinamic::before {
  z-index: 1;
  top: 50%;
  right: calc(110% + .5rem);
  width: 40px;
  height: 40px;
  background: url(../img/slider-banner/svg/icons/cleaning.svg) center/contain no-repeat;
  transform: translateY(-50%);
}

.slider .slider-banner-5__inner .text-dinamic::after {
  z-index: -1;
  top: 50%;
  left: 50%;
  width: 120%;
  height: 120%;
  transform: translate(-50%, -50%);
  background: url(../img/slider-banner/svg/fragments/text-bg/bg-text-service-1.svg) center/100% no-repeat;
}

.slider .slider-banner-5__inner .text-protective-glass {
  margin-bottom: 2.5rem;
  position: relative;
  z-index: 1;
  background: 0 0;
  color: #fff;
  font-weight: 700;
}

.slider .slider-banner-5__inner .text-protective-glass::before, .slider .slider-banner-5__inner .text-protective-glass::after {
  position: absolute;
  content: '';
}

.slider .slider-banner-5__inner .text-protective-glass::before {
  z-index: 1;
  top: 50%;
  left: calc(110% + .5rem);
  width: 40px;
  height: 40px;
  background: url(../img/slider-banner/svg/icons/repair/zawitnoe-steklo.svg) center/contain no-repeat;
  transform: translateY(-50%);
}

.slider .slider-banner-5__inner .text-protective-glass::after {
  z-index: -1;
  top: 50%;
  left: 50%;
  width: 120%;
  height: 120%;
  transform: translate(-50%, -50%);
  background: url(../img/slider-banner/svg/fragments/text-bg/bg-text-service-2.svg) center/100% no-repeat;
}

/* Слайдер */
/* Слайдер запущен */
/* Слайдер с точками */
/* Ограничивающая оболочка */
/* Лента слайдов */
/* Слайд */
/* Слайд активный (показывается) */
/* Слайд основной */
/* Слайд по центру */
/* Клонированный слайд */
/* Стрелка */
/* Стрелка влево */
/* Стрелка вправо */
/* Стрелка не активная */
/* Точки (булиты) */
/* Активная точка */
/* Элемент точки */
.slider .slick-list {
  overflow: hidden;
}

.slider .slick-track {
  display: flex;
}

.slider-dots .slick-dots {
  display: flex;
  align-items: center;
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
}

.slider-dots .slick-dots li {
  margin: 0px 3px;
}

.slider-dots .slick-dots li button {
  font-size: 0;
  width: 6px;
  height: 6px;
  background-color: #fff;
  border: 1px solid #000;
  padding: 0;
}

.slider-dots .slick-dots li.slick-active button {
  width: 10px;
  height: 10px;
}

.slider-arrows {
  display: none;
}

.slider-arrows .slick-arrow {
  font-size: 0;
  border: none;
  background-color: transparent;
  position: absolute;
  top: 0;
  bottom: 0;
  z-index: 1;
}

.slider-arrows .slick-arrow img {
  top: 50%;
  width: 80px;
  height: 80px;
}

.slider-arrows .slick-arrow.slick-prev {
  left: 0px;
}

.slider-arrows .slick-arrow.slick-prev img {
  margin-left: 40px;
}

.slider-arrows .slick-arrow.slick-next {
  right: 0px;
}

.slider-arrows .slick-arrow.slick-next img {
  margin-right: 40px;
}
